@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #282c34;
  color: white;
}

.container {
  text-align: center;
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.footer {
  color: gray;
  margin-top: 30px;
}

.footer a:link {
  color: gray;
}

.footer a:visited {
  color: gray;
}

.forecastPeriod {
  margin-bottom: 20px;
}

.forecastList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.forecast {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  color: black;
  background-color: white;
}
